@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --white: #FFFF;
}

hidden{
    display: none;
}
removeHidden{
    display: contents;
}

body{
    font-family: Manrope, 'serif';
    background-color: var(--Light-Grayish-Blue);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.article-container #article{
    display: flex;
    flex-direction: column;
}

.hero-img img{
    width: 327px;
    height: 200px;
    object-fit: cover;
}


/* --- writer --- */

.writer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#writers-profile{
    display: flex;
}

.writer .share-btn{
    width: 15px;
    height: 13px;
    align-self: center;
}
.socials p{
    align-self: center;
}
.socials{
    display: flex;
    background-color: var(--Very-Dark-Grayish-Blue);
}








